[Unit]
Description=Remote Fan Control Server
After=network.target

[Service]
Type=simple
Environment="VIRTUAL_ENV=/opt/remote-fancontrol/venv"
Environment="PATH=/opt/remote-fancontrol/venv/bin:$PATH"
ExecStart=/opt/remote-fancontrol/venv/bin/python -m remote_fancontrol.server.fan_controller
Restart=always
RestartSec=5
User=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target 